/* Making this so my shit memory self can somewhat remember what my own tags mean and why I apply them. */
/* Now all we have to do is hope I actually keep using the right tags, and don't forget this github exists... */

.data.tags {
    overflow: visible;
    z-index: 99;
}
.data.tags span a::before {
    position: absolute;
    left: 50%;
    z-index: 9;
    width: max-content;
    max-width: 275px;
    padding: 6px;
    background: #181818;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.75);
    color: #fff;
    white-space: pre-wrap;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: center;
} 
.data.tags span a:hover::before {
    opacity: 1;
}
.data.tags span a::before {
    top: calc(100% + 5px);
}


:root {
    --focus: "are the main focus of the story, make up the majority of the main cast, or are otherwise very noticeable. ";
    --PO: "PERSONAL OPINION \a May not apply to you, unless you're future me. \a\a ";
    --gudPO: green;
    --badPO: orange;
    --shitPO: red;
}


/*--------------------*\
|* Protagonist Tropes *|
\*--------------------*/
 
/* Cheat */ .data.tags span a[href*="Cheat"]::before { content: 
        /**/ "The protagonist has cheat mechanics, godly blessings, or is just plain overpowered compared to the world they inhabit" /**/
        /**/ ", usually to the story's detriment" /**/ "." /**/
        /*/ "\a\a" /**/
        /*/ "- Combat scenes often have little to no suspense. " /**/
        /*/ "If the protagonist isn't involved at the start, they may still rush in at the end to save the day." /**/
    ;}

/* Villain MC */ .data.tags span a[href*="Villain%20MC"]::before { content: 
        /**/ "The protagonist is a villain, or part of a group of villains. " /**/
    ;}

/* Anti-Villain MC */ .data.tags span a[href*="Anti-Villain%20MC"]::before { content: 
    /* https://tvtropes.org/pmwiki/pmwiki.php/Main/AntiVillain */
        /**/ "The protagonist is considered (or designated) a villain, but they're not malevolently evil. " /**/
        /**/ "Their true motivations tend to be noble, and they're often neutrally aligned and/or kind-hearted or honorable in nature." /**/
        /*/ TODO: FIND EXAMPLE /**/
    ;}

/* Anti-Hero MC */ .data.tags span a[href*="Anti-Hero%20MC"]::before { content:
    /* https://tvtropes.org/pmwiki/pmwiki.php/Main/AntiHero */
        /**/ "The protagonist is considered (or designated) the hero, but they're not exactly heroic." /**/
        /**/ "Their true motivations tend to be morally questionable, and often they're okay with breaking a few laws to achieve their goals. " /**/
        /**/ "\a\a" /**/
        /**/ "Example of an Anti-Hero \a L Lawliet (Death Note) \a While L does try to capture Kira, his main motivation is because he sees Kira as a challenge. L uses means such as kidnapping, not preventing murder, invasion of privacy and torture in the process." /**/ 
    ;}

/* Heroes boring, boo */


/*------------------*\
|* Character Tropes *|
\*------------------*/
 
/* Loli */ .data.tags span a[href*="Loli"]::before { content:
   /* Toddlers are not loli. */
        /*/ "Loli (ロリ): Female character with the appearance of a pre-pubescent girl (regardless of age). " /**/
        /*/ "\a\a" /**/
        /**/ "Loli " var(--focus) /**/
    ;} 
/* Shota */ .data.tags span a[href*="Shota"]::before { content: 
        /*/ "Shota (ショタ): Male character with the appearance of a pre-pubescent boy (regardless of age). " /**/
        /*/ "\a\a" /**/
        /**/ "Shota " var(--focus) /**/
    ;}  

/* Talking Animal */ .data.tags span a[href*="Talking%20Animal"]::before { content: 
   /* If the animal's body anatomy has been significantly changed to more resemble a human's, it's an Anthro.
    * Sailor Moon's Luna is a Talking Animal with an expressive face.
    * Fairy Tail's Happy is an Anthro. */
        /*/ "Talking Animal: Talks like people, walks like an animal." /**/
        /*/ "\a\a" /**/
        /**/ "Talking animals " var(--focus) /**/
    ;}
/* Anthro */ .data.tags span a[href*="Anthro"]::before { content: 
        /*/ "Anthro: Humanized creature or object. " /**/
        /*/ "\a\a" /**/
        /**/ "Anthros " var(--focus) /**/
    ;}
/* Monster Girl */ .data.tags span a[href*="Monster%20Girl"]::before { content: 
   /* Different from an anthro, in that instead of being an animal that looks like a human, it's a human, with some part animal.
    * Monster Musume no Iru Nichijou is all about Monster Girls and the characters serve as a perfect examples of monster girls. */
        /*/ "Hybrid between a human girl, and a (mythological) animal/creature. " /**/
        /*/ "\a\a" /**/
        /**/ "Monster girls " var(--focus) /**/
    ;}
/* Kemonomimi */ .data.tags span a[href*="Kemonomimi"]::before { content: 
        /*/ "Kemonomimi (獣耳): \"Animal Ears\". Humans, but with added animal ears, horns and tail. " /**/
        /*/ "\a\a" /**/
        /**/ "Kemonomimi " var(--focus) /**/
    ;}



/*--------*\
|* Genres *|
\*--------*/
 
/* Isekai */ .data.tags span a[href*="Isekai"]::before { content: 
    /* I don't count stories where the protagonist isn't clearly shown living in their original world, being resurrected, being summoned, or experiencing their first moments having been transferred/resurrected.
     * Tensei Oujo to Tensai Reijou no Mahou Kakumei doesn't count, as Anis regained her past modern-day-Japan life's memories 12 years ago(manga)/when she was 5(anime) within a too brief flashback. */
        /*/ "Isekai (異世界): \"different world\" or \"otherworld\". " /**/
        /*/ "\a\a" /**/
        /**/ "Character(s) from a normal world are transferred or resurrected into a fantasy world. " /**/
        /*/ "Usually given some kind of blessing or skill early on. " /**/
    ;}
/* Reverse Isekai */ .data.tags span a[href*="Reverse%20Isekai"]::before { content: 
        /*/ "Isekai (異世界): \"different world\" or \"otherworld\". " /**/
        /*/ "\a" /**/
        /*/ "Subgenre of the 'Isekai' genre. " /**/
        /*/ "\a\a" /**/
        /**/ "Character(s) from a fantasy world are transferred to a normal world. " /**/
        /*/ "They may or may not lose their their magical powers in the process. " /**/
    ;}
/* CGDCT */ .data.tags span a[href*="CGDCT"]::before { content: 
        /*/ "\"Cute Girls Doing Cute Things\". " /**/
        /*/ "\a" /**/
        /*/ "Subgenre of the 'Slice of Life' genre. " /**/
        /*/ "\a\a" /**/
        /**/ "An (almost) exclusively female cast does everyday stuff" /**/
        /**/ ", such as go to school, go to work, or do activities together" /**/ "." /**/
    ;}
/* Mahou Shoujo */ .data.tags span a[href*="Mahou%20Shoujo"]::before { content: 
        /**/ "Mahou Shoujo (魔法少女): \"Magical Girl\"." /**/
        /*/ "\a\a" /**/
        /*/ "I have no idea" /**/
        /*/ "what to put here" /**/
    ;}
/* Food */ .data.tags span a[href*="Food"]::before { content: 
        /**/ "The story is mainly about cooking or eating food. " /**/
        /**/ "\a\a" /**/
        /**/ "Whenever character(s) are talking about food, often the cooking process and/or the flavour will be explained in detail" /**/
        /**/ ", encouraging the viewer to try it themselves" /**/ "." /**/
    ;}



/*-------------------*\
|* Mood of the story *|
\*-------------------*/
 
/* Calm */ .data.tags span a[href*="Calm"]::before { content: "A laid back show, with barely any drama, action, romance or comedy, that doesn't end up being boring. Good to wind down";} /* AKA Slice of Life, I guess*/



/*--------------------------*\
|*    Personal  Opinions    *|
|* To remind my future self *|
\*--------------------------*/

/* Story */
/* PO Dip */ .data.tags span a[href*="PO%20Dip"]::before { color: var(--badPO); content: var(--PO) "The story becomes a bit worse during this part, but it's still good.";} /* Rare, as dips often just go downhill */
/* PO Downhill */ .data.tags span a[href*="PO%20Downhill"]::before, .data.tags span a[href*="PO%20DH"]::before { color: var(--shitPO); content: var(--PO) "The story slowly becomes worse the longer it goes on, it is still watchable/readable but it won't get better.";}
/* PO Nosedive */ .data.tags span a[href*="PO%20Nosedive"]::before, .data.tags span a[href*="PO%20ND"]::before { color: var(--shitPO); content: var(--PO) "The story becomes noticeably worse from this point onward, you'd do yourself a favour not going past this point.";}

/* PO SMGO */ .data.tags span a[href*="PO%20SMGO"]::before { color: var(--shitPO); content: var(--PO) "\"The (s)how (m)ust (g)o (o)n!\"\aThere was a perfect moment for the story to end... Instead, the story keeps on going well past that point (downhill, in most cases).";}

/* PO NMG */ .data.tags span a[href*="PO%20NMG"]::before { content: var(--PO) "This could be one of the best stories out there, but unfortunately it's simply (n)ot (m)y (g)enre.";}


/* Art */
/* PO Well-drawn */ .data.tags span a[href*="PO%20Well-drawn"]::before { color: var(--gudPO); content: var(--PO) "The artstyle has made a positive impression on me, might return just to look at the art.";}

/*------------*\
|* Other Tags *|
\*------------*/
 
/* Nudity */ .data.tags span a[href*="Nudity"]::before { content: "There's nipples or genitalia in full, unobstructed view.";}
/* Flash */ .data.tags span a[href*="Flash"]::before { content: "There's nipples or genitalia in full, unobstructed view... but only once or twice, and only a peek.";}

/* Uncen? */ .data.tags span a[href*="Uncen%3F"]::before { content: "Stories with an uncensored version that have the audience wondering what the difference is.\a\aUsually this ends up being an extra scene or a slightly smaller censor, sometimes with entire episodes not having changed at all.";}

/* I sincerely hope I never have to use these tags anywhere. */
/* Woke */ .data.tags span a[href*="Woke"]::before { color: var(--shitPO); content: "Woke, down to the source\a\aThe entire storyline has been made to appeal to racial/social/gender minorities. If you prefer a more authentic experience, find something else.";}
/* Wokewash */ .data.tags span a[href*="Wokewash"]::before { color: var(--shitPO); content: "Woke, but the source isn't\a\aThe most widespread adaptation has been wokewashed to appeal to racial/social/gender minorities. If you prefer a more authentic experience, find the original source or a different adaptation.";}

