/* Making this so my shit memory self can somewhat remember what my own tags mean and why I apply them. */
/* Now all we have to do is hope I actually keep using the right tags, and don't forget this github exists... */

.data.tags {
    overflow: visible;
    z-index: 99;
}
.data.tags span a::before {
    position: absolute;
    left: 50%;
    z-index: 9;
    width: max-content;
    max-width: 275px;
    padding: 6px;
    background: #181818;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.75);
    color: #fff;
    white-space: pre-wrap;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: center;
} 
.data.tags span a:hover::before {
    opacity: 1;
}
.data.tags span a::before {
    top: calc(100% + 5px);
}


:root {
    --focus: "are the main focus of the story, make up the majority of the main cast, or are otherwise very noticeable.";
    --PO: "PERSONAL OPINION""\a""May not apply to you, unless you're future me.""\a\a";
    --notadealbreaker: "\a\a""I personally don't like this trope, but it isn't necessarily a dealbreaker, I could still enjoy these stories.";
    --gud: #6C6;
    --bad: #C82;
    --shit: #C00;

    --cheat: "The protagonist has " /**/
    /* GENERAL UTILITY TYPES */
        /**/ "godly blessings, " /**/
        /*/ "passive hypnosis, " /* <Rokudou no Onna-tachi> */
    
    /* KNOWLEDGE TYPES */
        /**/ "knowledge of previous lives, " /* <Loop 7-kaime no Akuyaku Reijou wa, Moto Tekikoku de Jiyuu Kimama na Hanayome Seikatsu wo Mankitsu suru> */
        /*/ "voices or \"system messages\" guiding them, " /**/
    
    /* COMBAT TYPES */
        /**/ "absurd strength, " /* <Mashle> */
        /**/ "overwhelming magical power, " /**/

    /* NON-INNATE TYPES */
        /**/ "godly or otherworldly items, " /**/
    
        /**/ "or (sometimes multiple) otherwise severely 'unfair' advantage(s)" /**/
        /*/ "etc." /**/ "." /**/

        /*/ "This usually trivializes conflict, offering little to no true suspense because you just -know- their advantage is going to solve said conflict." /**/
        /*/ "being virtually unaffected by damage, OHKOing their opponent." /**/
        /*/ "If they're not involved at the start of a battle, they may still rush in mid-battle and save the day anyway." /**/
    ;
}



/*--------------*\
|* Story Tropes *|
\*--------------*/

/* Episodic */ .data.tags span a[href*="Episodic"]::before { content: 
    /* Whether I like these or not tends to depend on my mood.. */
        /**/ "Each episode/chapter has a small, independent plot. Characters and settings are usually the same throughout, but there's little to no continuity between plots." /**/
        /**/ "\a\a""A well-known example of an episodic show in Western media would be <The Simpsons>." /**/
    ;}

/* Open Ending/Open End */ .data.tags span a[href*="Open%20End"]::before { content: 
    /* I personally tend to dislike these as they're basically half a timeskip */
    /* <No Game No Life>'s anime adaptation does this decently, they accomplish a milestone of a long-term goal, it left me wanting more, unfortunately I'm not a LN reader... */
    /* <Temple>'s feels like a cop-out, the story establishes a long-term goal they could've gotten a milestone for... instead, they have a finale introducing a somewhat minor problem and then solving that.. */
        /**/ "The story ends in a way that leaves the viewer/reader to imagine how the characters' lives will go on from there. Will they live a happy life? Will they succeed in their long-term goal(s)?""\a""We'll likely never know, because there doesn't appear to be a sequel..." /**/
    ;}

/* Timeskip */ .data.tags span a[href*="Timeskip"]::before { content: 
    /* I hate these, timeskips have been the sole reason for me to drop series (<Cyberpunk: Edgerunners>, for example) */
        /**/ "This story contains a pretty significant timeskip, " /**/
        /**/ "the protagonist having met new characters, done significant things, and/or grown older in said timeskip, and then going from there. " /**/
        /**/ "In certain cases, this may change the entire dynamic of the rest of the story." /**/
        /**/ "\a""(Prologues and epilogues do not count)" /**/
    ;}

/* Trash Harem */ .data.tags span a[href*="Trash%20Harem"]::before { color: var(--bad); content:
    /* <Around 40 Otoko no Isekai Tsuuhan> has Trash Harem Type U+ and is the reason I made this tag.
     *   Trash Harem because an innkeeper, two beastwomen, a married noblewoman, a flipping queen and his adoptive child all want a piece. (Merchant's daughter gets a pass, saved after being kidnapped by bandits.)
     *   Type U because the MC is middle-aged (he was mistaken as the merchant daughter's father in ep8, 19:24) on top of being unremarkable.
     *   Type + because he's (implied to have) bedded the innkeeper, the merchant's daughter, one of the beastwomen, and one of the princess' maids WHILE the princess watched. */
        /**/ "This story has the opposite sex throwing themselves at the MC for whatever reason or lack thereof. These suitors don't care whether the MC or they themselves are already married, of different species, of different social status, or too young to realistically consider this." /**/
        /**/ "\a\a""This is usually detrimental to the story, especially if the tag has one or more of the suffixes below." /**/
        /**/ "\a""Suffix U""\a""MC is unremarkable and/or undeserving, in both looks and actions." /**/
        /**/ "\a""Suffix +""\a""MC reciprocates more than one suitor, be it through marriage or bedding them." /**/
    ;}

/* Yep That's Me */ .data.tags span a[href*="Yep%20That's%20Me"]::before { content: /* For some reason you DON'T encode the apostrophe */
    /* https://tvtropes.org/pmwiki/pmwiki.php/Main/HowWeGotHere and https://tvtropes.org/pmwiki/pmwiki.php/Main/ActionPrologue */
        /**/ "\"You're probably wondering how I ended up in this situation..\"""\a\a" /**/
        /**/ "This story starts by showing off some precarious or action-packed situation that's actually in the middle of the first episode/chapter or even the middle of the entire story, to then immediately end the segment in a cliffhanger and 'flashback' to the actual beginning of the episode." /**/
    ;}



/*--------------------*\
|* Protagonist Tropes *|
\*--------------------*/

/* Cheat */ .data.tags span a[href*="Cheat"]::before { color: var(--bad); content: var(--cheat)
    /* https://tvtropes.org/pmwiki/pmwiki.php/Main/InvincibleHero */
        /**/ "\a\a" /**/
        /**/ "What makes this trope worse is that the protagonist usually gets given or already has these cheats from the start, and usually without any real effort on their end." /**/
    ;}
/* Cheat+ */ .data.tags span a[href*="Cheat%2B"]::before { color: #fff; content: var(--cheat) 
        /**/ "\a\a" /**/
        /**/ "While I usually dislike this trope, in this case it's implemented well enough for it be enjoyable or even funny. " /**/
        /*/ "(" /**/
        /*/ "severe drawback(s), " /* <Nozomanu Fushi no Boukensha> */
        /*/ "gaining their power through (appropriateà effort and/or suffering, " /* <Shinmai Ossan Boukensha, Saikyou Party ni Shinu hodo Kitaerarete Muteki ni Naru> */
        /*/ "not infallible, " /*  */
        /*/ "not unique and/or THE strongest, " /* <Tatoeba Last Dungeon Mae no Mura no Shounen ga Joban no Machi de Kurasu Youna Monogatari> */
        /*/ "lighthearted story, " /* <Leadale no Daichi nite> */
        /*/ "etc.)" /**/
    ;}

/* Villain MC */ .data.tags span a[href*="Villain%20MC"]::before { content: 
        /**/ "The protagonist is a villain, or part of a group of villains. " /**/
    ;}

/* Anti-Villain MC */ .data.tags span a[href*="Anti-Villain%20MC"]::before { content: 
    /* https://tvtropes.org/pmwiki/pmwiki.php/Main/AntiVillain */
        /**/ "The protagonist is considered (or designated) a villain, but they're not malevolently evil. " /**/
        /**/ "Their true motivations tend to be noble, and they're often neutrally aligned and/or kind-hearted or honorable in nature." /**/
        /*/ TODO: FIND EXAMPLE /**/
    ;}

/* Anti-Hero MC */ .data.tags span a[href*="Anti-Hero%20MC"]::before { content:
    /* https://tvtropes.org/pmwiki/pmwiki.php/Main/AntiHero */
        /**/ "The protagonist is considered (or designated) the hero, but they're not exactly heroic. " /**/
        /**/ "Their true motivations tend to be morally questionable, and often they're okay with breaking a few laws to achieve their goals. " /**/
    ;}

/* Heroes boring, boo */



/*------------------*\
|* Character Tropes *|
\*------------------*/
 
/* Loli */ .data.tags span a[href*="Loli"]::before { content:
   /* Toddlers are not loli. If you're into toddlers, seriously, get help. */
        /*/ "Loli (ロリ): Female character with the appearance of a pre-pubescent girl (regardless of age). " /**/
        /*/ "\a\a" /**/
        /**/ "Loli " var(--focus) /**/
    ;} 
/* Shota */ .data.tags span a[href*="Shota"]::before { content: 
        /*/ "Shota (ショタ): Male character with the appearance of a pre-pubescent boy (regardless of age). " /**/
        /*/ "\a\a" /**/
        /**/ "Shota " var(--focus) /**/
    ;}  

/* Talking Animal */ .data.tags span a[href*="Talking%20Animal"]::before { content: 
   /* With Talking Animal, you take an animal/creature, and make it talk and maybe give it more human expressions. That's it. If you humanize it it's an anthro.
    * <Sailor Moon>'s Luna is a Talking Animal, they look almost exactly like an animal except for the humanized face and expressions. */
        /**/ "Talking Animal: It's an animal in (almost) every way, but it talks." /**/
        /*/ "\a\a" /**/
        /**/ "Talking animals " var(--focus) /**/
    ;}
/* Anthro */ .data.tags span a[href*="Anthro"]::before { content: 
    /* With Anthro, you take an animal/creature/object as a base and humanize it a little or a lot.
     * <Nokemono-tachi no Yoru>'s main cast demons are good examples of a lot of humanization. There's clear humanoid anatomy, they're human scale, and they wear proper humanoid clothes.
     * <Fairy Tail>'s Happy is a prime example of little humanization, there's no real human anatomy, they're cat scale, and don't wear clothes. But they have two arms and two legs as opposed to just 4 legs. */
        /**/ "Anthro: Humanized creature or object. " /**/
        /*/ "\a\a" /**/
        /**/ "Anthros " var(--focus) /**/
    ;}
/* Monster Girl */ .data.tags span a[href*="Monster%20Girl"]::before { content: 
    /* With Monster Girls, You take a human, and replace some parts to an animal's. If you 'cut away' the animal part, you'd only have about half a human left.
     * <Monster Musume no Iru Nichijou> is all about Monster Girls and the main cast serves as a good example of monster girls. */
        /**/ "Monster Girl: Hybrid between a human girl, and a (mythological) animal/creature. They tend to have entire body parts replaced." /**/
        /*/ "\a\a" /**/
        /**/ "Monster girls " var(--focus) /**/
    ;}
/* Kemonomimi */ .data.tags span a[href*="Kemonomimi"]::before { content: 
    /* With Kemonomimi, you'd take a human, and add animal parts. You're usually able to 'cut away' the animal parts and still have a full human.
     * <Kobayashi-san Chi no Maid Dragon> has multiple characters like this. Human appearance, but with added dragon horns, tails, behaviours and powers. Their dragon forms are technically Talking Animals, too. */
        /**/ "Kemonomimi (獣耳): \"Animal Ears\".""\a""Humans with miscellaneous animal appendages (ears, horns, tail) and often some of their traits." /**/
        /*/ "\a\a" /**/
        /**/ "Kemonomimi " var(--focus) /**/
    ;}



/*--------*\
|* Genres *|
\*--------*/
 
/* Isekai */ .data.tags span a[href*="Isekai"]::before { content: 
    /* I don't count stories where the protagonist isn't clearly shown living in their original world, being resurrected, being summoned, or first experiences being in the new world. These get Afterthought Isekai tag instead
     * <Tensei Oujo to Tensai Reijou no Mahou Kakumei> doesn't count, the flashback where Anis regains her past life's memories was too brief, her first experiences aren't touched upon. */
        /*/ "Isekai (異世界): \"different world\" or \"otherworld\". " /**/
        /*/ "\a\a" /**/
        /**/ "Character(s) from a normal world are transferred or reincarnated into a fantasy world. " /**/
        /*/ "Usually given some kind of blessing or skill early on. " /**/
    ;}
/* Reverse Isekai */ .data.tags span a[href*="Reverse%20Isekai"]::before { content: 
        /*/ "Isekai (異世界): \"different world\" or \"otherworld\". " /**/
        /*/ "\a" /**/
        /*/ "Subgenre of the 'Isekai' genre. " /**/
        /*/ "\a\a" /**/
        /**/ "Character(s) from a fantasy world are transferred to a modern-day Earth or a similarly 'normal' world. " /**/
        /*/ "They may or may not lose their their magical powers in the process. " /**/
    ;}
/* Afterthought Isekai */ .data.tags span a[href*="Afterthought%20Isekai"]::before { color: var(--bad); content: 
    /* Isekais where the first world is so barely touched upon, the whole premise might as well be a "What if character just somehow knew about this ourworldly aspect?" scenario 
     * <Okashi na Tensei> is a perfect example, all we get from Pastry's previous life is that he was a patissier and had the same color hair. This doesn't get addressed through flashback, he just 'knows' things. 
     * <Isekai de Mofumofu Nadenade suru Tame ni Ganbattemasu.> MC dies in her apartment, meets god, reincarnates. The anime even feels the need to occasionally remind you MC's met god. */
        /*/ "Isekai (異世界): \"different world\" or \"otherworld\". " /**/
        /*/ "\a\a" /**/
        /**/ "The premise of this story is supposed to be about character(s) being transferred or reincarnated into a fantasy world. " /**/
        /**/ "\a\a" /**/
        /**/ "However, the implementation is so barebones or bad, the story would've been nearly the same without it. It might only serve to explain a quirk or knowledge character(s) may have. " /**/
    ;}
/* Time Rewind */ .data.tags span a[href*="Time%20Rewind"]::before { content: 
        /**/ "Character(s) are rewound to a certain point in the past, but keep their memories of the future." /**/
        /*/ "They'll usually go and make drastically different choices to avoid some terrible fate befalling them or the world around them." /*/
    ;}

/* CGDCT */ .data.tags span a[href*="CGDCT"]::before { content: 
        /*/ "\"Cute Girls Doing Cute Things\". " /**/
        /*/ "\a" /**/
        /*/ "Subgenre of the 'Slice of Life' genre. " /**/
        /*/ "\a\a" /**/
        /**/ "An (almost) exclusively female cast does everyday stuff" /**/
        /**/ ", such as go to school, go to work, or do activities together" /**/ "." /**/
    ;}
/* Mahou Shoujo */ .data.tags span a[href*="Mahou%20Shoujo"]::before { content: 
        /**/ "Mahou Shoujo (魔法少女): \"Magical Girl\"." /**/
        /*/ "\a\a" /**/
        /*/ "I have no idea" /**/
        /*/ "what to put here" /**/
    ;}
/* Villainess */ .data.tags span a[href*="Villainess"]::before { content: 
    /* I watched quite a few of these before I started tagging them, sad! */
        /**/ "The protagonist is a villainess. Usually implemented through resurrecting into an otome game." /**/
    ;}

/* Food */ .data.tags span a[href*="Food"]::before { content: 
        /**/ "The story is mainly about cooking or eating food. " /**/
        /**/ "\a\a" /**/
        /**/ "Whenever character(s) are talking about food, often the cooking process and/or the flavour will be explained in detail" /**/
        /**/ ", encouraging the viewer to try it themselves" /**/ "." /**/
    ;}

/* Kicked Out */ .data.tags span a[href*="Kicked%20Out"]::before { content: 
        /**/ "Character(s) are kicked out of their party/country/other, usually because they are 'useless'." /**/
        /**/ "However, they usually turn out fine while the party falls apart without them." /**/
    ;}


/*-----------*\
|* Meta tags *|
\*-----------*/

/* ONGOING SERIES */ .data.tags span a[href*="ONGOING%20SERIES"]::before { content: "Cause my dumb ass is gonna forget and watch, then get mad when there's a not yet aired sequel.";}

/* I'd imagine these would usually go paired */
/* Bad Subs */ .data.tags span a[href*="Bad%20Subs"]::before { content: "The subtitles were subpar at my time of viewing. Either they were wrong, or were full of grammatical errors.";}
/* Watched Dub */ .data.tags span a[href*="Watched%20Dub"]::before { content: "Instead of watching with subs as I usually do, I chose to go with the dubbed version.";}

/* I have nothing against people's ideological and political opinions, they are allowed to have them. But I am not woke, and when they start messing with entertainment media to push their agenda, it truly ticks me off. */
/* These two tags are commented out, I haven't used them and I sincerely hope I'll never have to, but if I do, I will make sure to rate it a 1 and note down the name right here. */
/* Woke / .data.tags span a[href*="Woke"]::before { color: var(--bad); content:
        // "The entire storyline has been made to appeal to racial/social/gender minorities."
    ;} */
/* Wokewashed / .data.tags span a[href*="Wokewashed"]::before { color: var(--shit); content:
        // "Woke adaptation of non-woke original.\a\a""This adaptation has been wokewashed to appeal to racial/social/gender minorities." /**/
        /*/ "You may find existing characters have been changed, or new characters have been shoehorned in, for no story-related reason." /* The Little Mermaid's 2023 live-action remake offends both of these (apparently, haven't seen it, don't plan to ¯\_(ツ)_/¯) */ 
        /*/ "If you prefer a more authentic experience, find the original source or a different adaptation."
    ;}*/



/*---------------------------------*\
|* Personal Opinions and Reminders *|
|*       To remind future me       *|
\*---------------------------------*/

/* Story */
/* PO Bingeworthy */ .data.tags span a[href*="PO%20Bingeworthy"]::before { color: var(--gud); content: var(--PO) "This story was so consistently good that I bingewatched/read a sizeable portion in a single day.";}
/* PO Dip */ .data.tags span a[href*="PO%20Dip"]::before { color: var(--bad); content: var(--PO) "The story becomes a bit worse during this part, but it's still good.";} /* Rare, as dips often just go downhill */
/* PO Downhill */ .data.tags span a[href*="PO%20Downhill"]::before, .data.tags span a[href*="PO%20DH"]::before { color: var(--shit); content: var(--PO) "The story slowly becomes worse the longer it goes on, it is still watchable/readable but it won't get better.";}
/* PO Nosedive */ .data.tags span a[href*="PO%20Nosedive"]::before, .data.tags span a[href*="PO%20ND"]::before { color: var(--shit); content: var(--PO) "The story becomes noticeably worse from this point onward, you'd do yourself a favour not going past this point.";}
/* PO SMGO */ .data.tags span a[href*="PO%20SMGO"]::before { color: var(--shit); content: var(--PO) "\"The (S)how (M)ust (G)o (O)n!\"""\a""There was a perfect moment for the story to end... Instead, the story keeps on going well past that point (downhill, in most cases).";}


/* Art */
/* PO Good visuals */ .data.tags span a[href*="PO%20Good%20visuals"]::before { color: var(--gud); content: var(--PO) "The visuals have made a positive impression on me. Something about the way it was drawn struck me as neat enough to warrant future watches/reads.";}
/* PO QUALITY */ .data.tags span a[href*="PO%20Shit%20visuals"]::before, .data.tags span a[href*="PO%20QUALITY"]::before { color: var(--shit); content: var(--PO) "The visuals are/became so noticeably bad that it's actually distracting... Bad or awkward anatomy/proportions, hiding details (e.g. hands) to avoid drawing them, overuse of certain scenes/drawings, etc.";}


/* Bias */
/* PO PSS (Please stop singing) */ .data.tags span a[href*="PO%20PSS"]::before { color: var(--bad); content: var(--PO) "(P)lease (S)top (S)inging\a\a""Characters randomly start singing, sometimes multiple times throughout the story, sometimes for no story-driving purposes, sometimes both..." var(--notadealbreaker);}
/* PO NMG (Not my genre) */ .data.tags span a[href*="PO%20NMG"]::before { color: var(--bad); content: var(--PO) "(N)ot (M)y (G)enre\a\a""The story could be worth every bit of praise it might get and then some, but I just don't get the appeal..." var(--notadealbreaker);}
                                                                          


/*------------*\
|* Other Tags *|
\*------------*/

/* No censors, no facing away. <Mayo Chiki> is an example of Nudity Lite, if memory serves me right there's just a single scene where there's a nipple in view. */
/* Nudity */ .data.tags span a[href*="Nudity"]::before { content: "The story contains nudity every so often.";}
/* Nudity Lite */ .data.tags span a[href*="Nudity%20Lite"]::before { content: "The story contains a single instance, maybe two, of nudity.";}
/* Nudity + */ .data.tags span a[href*="Nudity%2B"]::before, .data.tags span a[href*="Nudity%20%2B"]::before { content: "The story contains nudity pretty much every chapter/episode.";}

/* Uncen? */ .data.tags span a[href*="Uncen%3F"]::before { content: "Stories with an uncensored version that have the audience wondering what the difference is.\a\a""Usually this ends up being an extra scene or a slightly smaller censor, sometimes with entire episodes not having changed at all.";}


/* Jaundiced Eye */ .data.tags span a[href*="Jaundiced%20Eye"]::before { content: "Some outside factor, like having a bad day, has caused me to view (part of) this story as insufferable... It's probably not as bad as I thought it looked, but all looks yellow to the jaundiced eye.";}

