/* Making this so my shit memory self can somewhat remember what my tags mean and why I apply them. */
/* Now all we have to do is pray, and hope I don't forget this github exists... */

.data.tags {
    overflow: visible;
    z-index: 99;
}
.data.tags span a::before {
    position: absolute;
    left: 50%;
    z-index: 9;
    width: max-content;
    max-width: 275px;
    padding: 6px;
    background: #181818;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.75);
    color: #fff;
    white-space: pre-wrap;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: center;
} 
.data.tags span a:hover::before {
    opacity: 1;
}
.data.tags span a::before {
    top: calc(100% + 5px);
}


:root {
    --PO: "PERSONAL OPINION \a May not apply to you, unless you're future me. \a\a ";
    --gudPO: green;
    --badPO: orange;
    --shitPO: red;
    --focus: "the main focus of the story, the majority of the main cast, or otherwise very noticeable. ";
}


/*---------------------*\
|* Storytelling Tropes *|
\*---------------------*/
 
/* OP MC */ .data.tags span a[href*="OP%20MC"]::before { content: 
        /**/ "The protagonist has cheat mechanics or is just plain overpowered" /*/". "/*/", "/**/
        /**/ "usually to the story's detriment." /**/
        /*/ "\a\a" /**/
        /*/ "Combat scenes have little to no suspense, as the protagonist is leagues above any opponents they may face and often have no weaknesses. " /**/
        /*/ "Even if the protagonist is not involved at the start of combat, they may appear near the end of the battle to save the day." /**/
    ;}



/*------------------*\
|* Character Tropes *|
\*------------------*/
 
/* Loli */ .data.tags span a[href*="Loli"]::before { content:
   /* Toddlers are not loli. */
        /*/ "Loli (ロリ): Female character with the appearance of a pre-pubescent girl (regardless of age). " /**/
        /*/ "\a\a" /**/
        /**/ "Loli are " var(--focus) /**/
    ;} 
/* Shota */ .data.tags span a[href*="Shota"]::before { content: 
        /*/ "Shota (ショタ): Male character with the appearance of a pre-pubescent boy (regardless of age). " /**/
        /*/ "\a\a" /**/
        /**/ "Shota are " var(--focus) /**/
    ;}  

/* Talking Animal */ .data.tags span a[href*="Talking%20Animal"]::before { content: 
   /* If the animal's body anatomy has been significantly changed to more resemble a human's, it's an Anthro.
    * Sailor Moon's Luna is a Talking Animal with an expressive face.
    * Fairy Tail's Happy is an Anthro. */
        /*/ "Talking Animal: Talks like people, walks like an animal." /**/
        /*/ "\a\a" /**/
        /**/ "Talking animals are " var(--focus) /**/
    ;}
/* Anthro */ .data.tags span a[href*="Anthro"]::before { content: 
        /*/ "Anthro: Humanized creature or object. " /**/
        /*/ "\a\a" /**/
        /**/ "Anthros are " var(--focus) /**/
    ;}
/* Monster Girl */ .data.tags span a[href*="Monster%20Girl"]::before { content: 
   /* Different from an anthro, in that instead of being an animal that looks like a human, it's a human, with some part animal.
    * Monster Musume no Iru Nichijou is all about Monster Girls and the characters serve as a perfect examples of monster girls. */
        /*/ "Hybrid between a human girl, and a (mythological) animal/creature. " /**/
        /*/ "\a\a" /**/
        /**/ "Monster girls are " var(--focus) /**/
    ;}
/* Kemonomimi */ .data.tags span a[href*="Kemonomimi"]::before { content: 
        /*/ "Kemonomimi (獣耳): \"Animal Ears\". Humans, but with added animal ears, horns and tail. " /**/
        /*/ "\a\a" /**/
        /**/ "Kemonomimi are " var(--focus) /**/
    ;}



/*------------*\
|* Genre Tags *|
\*------------*/
 
/* Isekai */ .data.tags span a[href*="Isekai"]::before { content: 
        /*/ "Isekai (異世界): \"different world\" or \"otherworld\". " /**/
        /*/ "\a\a" /**/
        /**/ "Character(s) from a normal world are transferred or resurrected into a fantasy world. " /**/
        /*/ "Usually given some kind of blessing or skill early on. " /**/
    ;}
/* Reverse Isekai */ .data.tags span a[href*="Reverse%20Isekai"]::before { content: 
        /*/ "Isekai (異世界): \"different world\" or \"otherworld\". " /**/
        /*/ "\a" /**/
        /*/ "Subgenre of the 'Isekai' genre. " /**/
        /*/ "\a\a" /**/
        /**/ "Character(s) from a fantasy world are transferred to a normal world. " /**/
        /*/ "They may or may not lose their their magical powers in the process. " /**/
    ;}
/* CGDCT */ .data.tags span a[href*="CGDCT"]::before { content: 
        /*/ "\"Cute Girls Doing Cute Things\". " /**/
        /*/ "\a" /**/
        /*/ "Subgenre of the 'Slice of Life' genre. " /**/
        /*/ "\a\a" /**/
        /**/ "An (almost) exclusively female cast doing everyday stuff" /*/". "/*/", "/**/
        /**/ "such as going to school, going to work, or doing activities together." /**/
    ;}



/*--------------------------*\
|*    Personal  Opinions    *|
|* To remind my future self *|
\*--------------------------*/

/* Story */
/* PO Dip */ .data.tags span a[href*="PO%20Dip"]::before { color: var(--badPO); content: var(--PO) "The story becomes a bit worse during this part, but it's still good.";} /* Rare, as dips often just go downhill */
/* PO Downhill */ .data.tags span a[href*="PO%20Downhill"]::before, .data.tags span a[href*="PO%20DH"]::before { color: var(--shitPO); content: var(--PO) "The story slowly becomes worse the longer it goes on, it is still watchable/readable but it won't get better.";}
/* PO Nosedive */ .data.tags span a[href*="PO%20Nosedive"]::before, .data.tags span a[href*="PO%20ND"]::before { color: var(--shitPO); content: var(--PO) "The story becomes noticeably worse from this point onward, you'd do yourself a favour not going past this point.";}

/* PO SMGO */ .data.tags span a[href*="PO%20SMGO"]::before { color: var(--shitPO); content: var(--PO) "\"The show must go on!\" \a There was a perfect moment for the story to end... Instead, the story keeps on going well past that point (downhill, in most cases).";)

/* PO NMG */ .data.tags span a[href*="PO%20NMG"]::before { content: var(--PO) "This could be one of the best stories out there, but unfortunately it's simply not my genre.";}


/* Art */
/* PO Well-drawn*/ .data.tags span a[href*="PO%20Well-drawn"]::before { color: var(--gudPO); content: var(--PO) "The artstyle has made a positive impression on me, might return just to look at the art.";}

